html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
 box-sizing: inherit;
}

a {
    text-decoration: none;
}

body {
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.container {
    max-width: 1440px;
    padding: 0 15px;
    margin: 0 auto;
}

.header-top {
    padding-top: 30px;
}

.header_top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_top-inner img{
    position: relative;
    left: -5px;
    top: 3px;
}
.logo {
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 900;
    color: #1572D3;
}

.menu_list {
    display: flex;
    justify-content: center;
    list-style: none;
}

.menu_list-item {
    margin-right:  10px;
}

.menu_list-link {
    position: relative;
    color: black;
    font-size: 1.1em;
    text-decoration: none;
    padding: 6px 20px;
    cursor: pointer;
}

.menu_list-link:hover {
    color: #eb3e30;
}

.header_content-inner{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    height: 80vh;
}



.header_title{
    position: relative;
    top: 5em;
    font-size: 36px;
}

.header_title span{
    color: #1572D3;
}

.header_content-inner img{
    position: absolute;
    left: 40vw;
    top: 1em;
}

.truck_fon{
    position: absolute;
    left: 12em;
    top: 1em;
}

.header_title img{
    position: relative;
    top: -0.8em;
    left: -2.7em;
}

.section_1_header {
    position: relative;
    top: 1em;
    text-align: center;
    
}

.section_1_content {
    display: flex;
    position: relative;
    text-align: center;
    justify-content: center;
    top: 5em;
}

.section_1_content-item{
    position: relative;
    width: 12vw;
}

.logos_ {
    position: relative;
    display: flex;
    justify-content: center;
    top: 8em;
}

.section_2_header{
    position: relative;
    top: 8em;
    text-align: center;
}

.section_2_content{
    display: flex;
    position: relative;
    top: 10em;
    justify-content: space-evenly;
}

.section_2_content-left{
    position: relative;
    
}

.scania_truck{
    position: absolute;
}

.vector{}

.section_2_content-right{
    position: relative;
    width: 26vw;
    display: flex;
    flex-flow: column;
    
}

.section_2_content-right h2{
    position: relative;
    left: -2em;
    font-size: 35px;
    
}

.section_2_content-right-item{
    position: relative;
    margin-top: -3vw;
}

.section_2_content-right-item img{
    position: relative;
    left: -6em;
    top: 5.5em;
}

.section_3_content{  
    display: flex;
    justify-content: space-around;
    position: relative;
    margin-left: 12%;
    margin-right: 12%;
    top: 16em;    

}

.section_3_content-item{
    height: 470px;
    width: 250px;
    position: relative;
    border-radius: 10px;
    text-align: left;
    padding: 15px;
    -webkit-box-shadow: 0px 0px 21px 7px rgba(88, 121, 146, 0.3);
-moz-box-shadow: 0px 0px 21px 7px rgba(88, 121, 146, 0.3);
box-shadow: 0px 0px 21px 7px rgba(88, 121, 146, 0.3);
    }

.section_3_content-item-characters{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   border-bottom: 3px solid gainsboro;
}

.section_3_content-item-character{
    height: 40px;
    position: relative;
    top: -10px;
    margin-top: -5px;
    width: 40%;
}

.item_cost{
    width: 100%;
    font-size: 25px;
}

.rent-button{
    position: relative;
    text-align: center;
    top: -10px;
}

.rent-button button{
    width: 170px;
    height: 50px;
    background: #1572D3;
    border-radius: 8px;
    border: 0;
    color: white;
}

